body, html {
  color: #dec595;
  background: #170e09;
  min-height: 100%;
  font-family: 'Alegreya', serif;
  font-size: 12px;
  background-image: url(../images/brown_paper.png);
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

.space-hg {
  height: 100px;
}

.divider {
  height: 5px;
}

h2 {
  font-family: 'Alegreya', serif;
  margin: 30px 0 0 0;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
}

.game-body {
  position: relative;
  background-image: url(../images/backdrop.gif);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 722px;
  height: 528px;
  margin: 0 auto;
  border: 2px solid #dec595;
}

.trivia {
  display: none;
  position: absolute;
  padding: 20px;
  bottom: 25%;
  width: 70%;
  left: 15%;
  background: #000;
  opacity: 0.9;
  border: 2px solid #dec595;
  font-weight: 700;
  font-size: 15px;
}

.questionBox {
  border: 1px solid #dec595;
}

.answerBox {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.guard {
  max-height: 150px;
  margin-top: 15px;
  position: relative;
  left: 20px;
}

.speech {
  font-size: 15px;
  color: #dec595; 
  float: right;
  padding-top: 30px;
  width: 9rem;
  text-align: left;
  padding-left: 10px;
}

.banner-thick {
  padding: 5px;
  height: 30px;
  color: #dec595; 
}

.answer {
  border: 1px solid #dec595;
  margin-top: 10px;
}

.answer:hover {
  color: #fff;
  border: 1px solid #f1e4cb;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.answer:active {
  color: #fff;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.4);
  transition: all .2s ease-in-out;
}

::selection{
  background: transparent;
}

.question {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  width: 25em;
  animation: type 4s steps(60, end);
}

.question:hover, #timer:hover {
  cursor: default;
}

#restart {
  display: none;
  border: 1px solid #dec595;
  background: transparent;
  font-family: 'Alegreya', serif;
}

#restart:hover {
  color: #fff;
  border: 1px solid #f1e4cb;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

#restart:active {
  color: #fff;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.4);
  transition: all .2s ease-in-out;
}

@keyframes type { 
  from {width: 0;}
} 

